<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <cryptapi>
            <model>Cryptapi\Cryptapi\Model\Method\CryptapiPayment</model>
            <title>Cryptocurrency</title>
            <active>0</active>
            <show_branding>1</show_branding>
            <disable_conversion>0</disable_conversion>
            <qrcode_size>300</qrcode_size>
            <qrcode_default>1</qrcode_default>
            <allowspecific>0</allowspecific>
            <qrcode_setting>without_ammount</qrcode_setting>
            <color_scheme>light</color_scheme>
            <refresh_value_interval>300</refresh_value_interval>
            <order_cancelation_timeout>3600</order_cancelation_timeout>
            <fee_order_percentage>none</fee_order_percentage>
            <add_blockchain_fee>0</add_blockchain_fee>
            <can_use_checkout>1</can_use_checkout>
        </cryptapi>
    </payment>
</default>
</config>
