<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
<default>
    <payment>
        <cryptapi>
            <model>Cryptapi\Cryptapi\Model\Pay</model>
            <title>Cryptocurrency</title>
            <allowspecific>0</allowspecific>
            <active>0</active>
        </cryptapi>
    </payment>
</default>
</config>